body {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FAF9F6;
    margin-left: 150px;
    margin-right: 150px;
}

.heading {

    margin: auto;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.mid {
    text-align: center;
}